/*DEBUG*/
.debug{
  background-color: rgba(255, 0, 0, .5);
  border: 2px solid red;
}

*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
	max-width: 100%;
}

ul{
  list-style: none;
}

li{
  margin: 0 8px;

}
a{
  color: white;
  text-decoration: none;

}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.icons{
  display: flex;
  align-items: center;
  color: white;
}

/* trick per risolvere il problema delle ancore che finiscono dietro il menu fixed */
section::before{
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  /* position: fixed; */
  z-index: 999;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 5px 0;
  background-color: #FF6900;
  box-shadow: 0 3px 20 pxrgba(0, 0, 0, .4);
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .menu ul{
  display: flex;
  padding-top: 5px;
}

header .menu ul li a{
  color: white;
  font-weight: bold;
}

header .container img.logo{
  width: 10%;
}

header .container .icons i{
  margin-right: 10px;
}


/* MAIN */

main{
  background-color: aqua;
  height: 1000px;
}

main .container{
  padding: 40px 0;
}

main .container .prodotto{
  position: relative;
  width: 25%;
}

main .container .prodotto .box-element-saved{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

/* FOOTER */

footer{
  height: 70px;
  padding: 35px 0 80px;
  color: white;
  background-color: black;
}
footer h4, h6{
  margin-bottom: 10px;
}

footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .menu ul{
  display: flex;
}

footer .container .social .icons i{
  margin-right: 10px;

}
