/*DEBUG*/
.debug{
  background-color: rgba(255, 0, 0, .5);
  border: 2px solid red;
}

*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
	max-width: 100%;
}

ul{
  list-style: none;
}

li{
  margin: 0 8px;

}
a{
  font-size: .8rem;
  color: white;
  text-decoration: none;

}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.icons{
  display: flex;
  align-items: center;
  color: white;
}

/* trick per risolvere il problema delle ancore che finiscono dietro il menu fixed */
section::before{
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 5px 0;
  background-color: #FF6900;
  box-shadow: 0 3px 20 pxrgba(0, 0, 0, .4);
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .menu ul{
  display: flex;
  padding-top: 5px;
}

header .menu ul li a{
  color: white;
  font-weight: bold;
}

header .container img.logo{
  width: 10%;
}

header .container .icons i{
  margin-right: 10px;
}


/* MAIN */

main  .container .prodotto img{
  width: 352px;
  height: 508px;
  margin-bottom: 10px;
}

main  .container .prodotto img.img-a{
  display: block;
}

main  .container .prodotto img.img-b{
  display: none;
}

main  .container .prodotto:hover .img-a{
  display: none;
}

main  .container .prodotto:hover .img-b{
  display: block;
}

main .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 70px;

}

main .container .prodotto{
  position: relative;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 30px;
}

main .container .prodotto .box-element-saved{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

main .container .prodotto{
  position: relative;
}

main .container .prodotto .box-element-saved{
  background-color: #fff;
  padding: 5px 10px;
}

main .container .prodotto .box-element-saved span:hover{
  color: red;
}

main .container .prodotto .box{
  position: absolute;
  bottom: 90px;
  left: 0;
}

main .container .prodotto .box span{
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
}

main .container .prodotto .box .green{
  background-color: #008000;
}
main .container .prodotto .box .red{
  background-color: red;
}

main .container .prodotto .description span{
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: .7rem;
}
main .container .prodotto .description h4{
  text-transform: uppercase;
  margin-bottom: 5px;
}
main .container .prodotto .description span.price-sold{
  color: red;
  font-weight: bold;
}

main .container .prodotto .description span.price{
  text-decoration: line-through;
}

/* FOOTER */

footer{
  height: 70px;
  padding: 35px 0 80px;
  color: white;
  background-color: black;
}
footer h4, h6{
  margin-bottom: 10px;
}

footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .menu ul{
  display: flex;
}

footer .container .social .icons i{
  margin-right: 10px;

}
